

{
  email xxxx
}

your-domain.com {
  encode zstd gzip

  @admin path /admin/*
  basicauth @admin {
    user replace-with-username
    # 使用 caddy hash-password 生成
  }

  handle_path /langfuse/* {
    reverse_proxy langfuse:3000
  }

  handle {
    reverse_proxy api:8000
  }
}
